<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmarks</title>
    <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>
        <form action='/bookmarks' method='post'>
            <input id='url-input'type='text' name='url' placeholder='Add url'>
            <input id='save-button' type='submit' value='Save'>
</form>
        <div>
        <% bookmarks.forEach((bookmark, index)=>{%>
            <form method='post' action='/bookmarks/<%=bookmark.id%>?_method=DELETE'>
            <span><p id='url-<%=index%>'><%= bookmark.url %></p>
            <p>Comments: <%= bookmark.comment %></p>
                <a  id='edit-<%=index%>'href='/bookmarks/<%= bookmark.id %>/edit'>Edit</a>
                <a id='addComment-<%=index%>' href='/bookmarks/<%= bookmark.id %>/comment'>Add comment</a>
            <input id='delete-<%=index%>'type='submit' value='Delete'>
            </form>
            </span>
        <%})%>
        </div>
</body>
</html>
